[Desktop Entry]
Type=Application
Exec=/opt/extras.ubuntu.com/todotxt-indicator/bin/todotxt-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[es_ES]=todotxt-indicator-autostart
Name=todotxt-indicator-autostart
Comment[es_ES]=todotxt-indicator official shortcut
Comment=todotxt-indicator official shortcut
X-GNOME-Autostart-Delay=15
